<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Informações Pessoais</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap-4/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen">
</head>
<body>
    <div class="line">
        <div class="line-yellow"></div>
        <div class="line-orange"></div>
        <div class="line-tomato"></div>
        <div class="line-red"></div>
    </div>

    <div id="questionnarie" class="padding-top-md container box-shadow-grey full-height">
        <div class="custom-header margin-bottom-md">
            <h3><span class="question-prompt">Questionário</span></h3>
            <div class="text-box">
                <span>Responda a pergunta marcando de 1 a 7 as frases abaixo, sendo 1 nenhuma e 7 total correspondência com a afirmação.</span>
            </div>
        </div>

        <div id="loading" class="">Loading Questions...</div>
        <div class="question row padding-bottom-sm padding-top-sm">
            <div class="col-sm-2">
                <h5 class="bottom-border text-xs-center">Questão <span class="question-number">1</span></h5>
            </div>
            <div class="col-sm-8">
                <h5 class="text-box-inverse"><span class="question-text"></span></h5>
            </div>
            <div class="col-sm-2">
                <p class="bottom-border text-xs-center">Resposta</p>
                <select class="answer custom-select col-xs-12">
                    <option selected>-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
        </div><hr>
        <div id="submit" class="col-xs-12 padding-top-sm padding-bottom-sm">
          <button onclick="sendAnswers()" class="btn btn-secondary btn-block btn-outline-success">Enviar Respostas!</button>
        </div>
    </div>
    <script src="/scripts/jquery.js" charset="utf-8"></script>
    <script src="/scripts/tether.js" charset="utf-8"></script>
    <script src="/scripts/bootstrap-4/bootstrap.min.js" charset="utf-8"></script>
    <script src="/scripts/questions.js" charset="utf-8"></script>
    <script type="text/javascript">
      loadQuestions({{course_id}});
    </script>
</body>
</html>
